.header__bot {
  padding: 10px;
  background-color: #f8f8f8;
}

.header__bot_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@include media-breakpoint-up(md) {
  .header__bot {
    display: flex !important;
  }
}

@include media-breakpoint-down(sm) {
  .header__bot {
    display: none;
    padding: 20px 0;
  }
}