.macbook {
  position: relative;
  width: 650px;
  margin: 0 auto 50px;
  img {
    width: 100%;
  }
}

.macbook__content {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 82%;
  background-color: $white;
}


@include media-breakpoint-down(sm) {
  .macbook__content {
    top: 15px;
  }
}