.partners-card {
  padding: 90px 0 60px;
  background-color: $white;
  .card__icon {
    margin: 0 auto 30px;
  }
  .text {
    display: block;
    width: 100%;
    text-align: center;
  }
}


@include media-breakpoint-down(sm) {
  .partners-card {
    .card__icon {
      margin: 40px auto 20px;
    }
  }
}