.category {
}

.category__title {
  margin-bottom: 20px;
  font-size: 1.125em;
}

.category__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category__tabs_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: $accented;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: $brown;
    color: $white;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    background-color: $brown;
    color: $white;
  }
}