.social-networks {
  padding: 50px 0;
  background-image: url(../../../img/bg/coffee-bg.jpg);
  .title-2 {
    margin-bottom: 0;
  }
}

.social-networks__box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-networks__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 60px;
}

.social-networks__list_item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.social-networks__list_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  img {
    width: 100%;
  }
}


@include media-breakpoint-down(sm) {
  .social-networks__box {
    display: block;
    text-align: center;
  }
  .social-networks__list {
    justify-content: center;
    margin-top: 20px;
    margin-left: 0;
  }
  .social-networks__list_item_link {
    width: 60px;
    height: 60px;
  }
}