.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__list_item {
  margin-right: 100px;
  &:last-child {
    margin-right: 0;
  }
}

.navigation__list_item_link {
  color: #171819;
  text-transform: uppercase;
  &:hover {
    color: #7f6358;
  }
}

.home {
  .navigation__list_item {
    &:nth-child(1) {
      .navigation__list_item_link {
        font-family: 'Roboto-Bold', sans-serif;
        color: #7f6358;
      }
    }
  }
}

.customers {
  .navigation__list_item {
    &:nth-child(2) {
      .navigation__list_item_link {
        font-family: 'Roboto-Bold', sans-serif;
        color: #7f6358;
      }
    }
  }
}

.partners {
  .navigation__list_item {
    &:nth-child(3) {
      .navigation__list_item_link {
        font-family: 'Roboto-Bold', sans-serif;
        color: #7f6358;
      }
    }
  }
}

.contacts {
  .navigation__list_item {
    &:nth-child(4) {
      .navigation__list_item_link {
        font-family: 'Roboto-Bold', sans-serif;
        color: #7f6358;
      }
    }
  }
}