.footer {
  background-color: #f8f8f8;
}

.footer__bot_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 50px;
}

.footer__bot_box_block {
  display: flex;
  align-items: center;
}

.footer__bot_phone {
  margin: 0 2em;
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 27px;
  color: $black;
  &:hover {
    color: $black;
  }
}

.footer__bot_icons {
  display: flex;
  align-items: center;
}

.footer__bot_icons_item {
  margin-right: 18px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__bot_icons_item_link {
  display: flex;
  align-items: center;
  justify-content: center;
}


@include media-breakpoint-down(md) {
  .footer__bot_phone {
    margin: 0 1em;
    font-size: 18px;
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    text-align: center;
    .applications {
      margin: 1em 0;
    }
  }
  .footer__bot_box {
    display: block;
    padding: 20px 0;
  }
  .footer__bot_box_block {
    display: block;
  }
  .footer__bot_icons {
    justify-content: center;
    margin-top: 1em;
  }
}