.contacts-card {
  padding: 90px 0;
  background-color: $white;
  .card__icon {
    margin: 0 auto 30px;
  }
  .text {
    font-size: 1.5em;
    color: $black;
    transition: .3s;
    &:hover {
      color: $brown;
    }
  }
}


@include media-breakpoint-down(sm) {
  .contacts-card {
    .card__icon {
      margin: 40px auto 20px;
    }
    .text {
      display: block;
      width: 100%;
      text-align: center;
      white-space: nowrap;
    }
  }
}