body {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: $black;
}

h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  margin-bottom: 1.5em;
}

img {
  width: auto;
  max-width: 100%;
}

a {
  color: $white;
  transition: .3s;
  &:hover {
    color: $white;
    text-decoration: none;
  }
}



@include media-breakpoint-up(xl) {
  .container {
    max-width: 1200px;
  }
}